.root {
  width: 100%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.form {
  display: flex;
  justify-content: center;
  width: 300px;
  flex-direction: column;
  margin: auto;
  margin-top: 40px;
}

.form input {
  margin-bottom: 10px;
  text-align: center;
}

.tablewrapper {
  width: 800px;
  margin: auto;
}

input[type='text'] {
  padding: 5px;
  border: 2px solid rgb(255, 86, 1);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
}

input[type='text']:focus {
  border-color: rgb(255, 86, 1);
  font-family: 'Raleway', sans-serif;
}

input[type='submit'] {
  padding: 10px;
  background: rgb(255, 86, 1);
  color: white;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  outline: 0;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 86, 1, 0.5);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 86, 1, 0.5);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 86, 1, 0.5);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 86, 1, 0.5);
}
